div, h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div.component {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  
}

div.wide {
	vertical-align: top;
	width: 55%;
	display: inline-block;
}

div.narrow {
	width: 40%;
	display: inline-block;
}

th, td {
   border-bottom: 1px solid black;
   text-align: left;
}

label {
	line-height: 200%;
}

h1 {
	display: inline;

}
#flask {
  width: 5%;
  display: inline;
  margin-right: 50px;
}
#addButton {
	width: 7%;
	float: right;
	cursor: pointer;
}

ul {
	background: white;
	list-style: none;
}

.ui-helper-hidden-accessible { 
	display:none; 
}