<div class="component buffer-creator">
  <form>
  	<label>Buffer Name</label>
    <input id="buffer-name" ng-model="$ctrl.makeBuffer.name" type="text" required>
    <br>
    <label>Scientist Name</label>
    <input id="user-name" ng-model="$ctrl.makeBuffer.user" type="text" required>
    <textarea rows="4" cols="40">
    Describe any specific instructions needed to make the buffer...
    </textarea>
    <add-chemical update-name="$ctrl.updateName" chem-index="$ctrl.chemIndex" ng-repeat="chemical in $ctrl.chemicals"></add-chemical>
    <br>
    <button id="submit" ng-click="$ctrl.onClick()">Submit</button>
    <button id="reset" ng-click="$ctrl.onReset()">Reset</button>
    <img ng-click="$ctrl.addRow()" id="addButton" src="../assets/add.png">
  </form>
</div>