<div class="component buffer-creator">
  <form>
  	<label>Buffer Name</label>
    <input id="buffer-name" ng-model="$ctrl.makeBuffer.name" type="text" required>
    <br>
    <label>Scientist Name</label>
    <input id="user-name" ng-model="$ctrl.makeBuffer.user" type="text" required>
    <br>
    <label>Chemical #1</label>
    <input id="comp1" ng-model="$ctrl.makeBuffer.chem1" type="text" required>
    <br>
    <label>Amount of Chemical #1</label>
    <input id="comp1-amt" ng-model="$ctrl.makeBuffer.chem1Amt" type="text" required>
    <br>
    <label>Chemical #2</label>
    <input id="comp2" ng-model="$ctrl.makeBuffer.chem2" type="text" required>
    <br>
    <label>Amount of Chemical #2</label>
    <input id="comp2-amt" ng-model="$ctrl.makeBuffer.chem2Amt" type="text" required>
    <br>
    <button id="submit" ng-click="$ctrl.onClick()">Submit</button>
  </form>
</div>